{% extends 'kbm_core/base.html' %}
{% block title %}Detail Siswa{% endblock %}
{% block page_title %}Detail Siswa: {{ siswa.namalengkappd }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-5 mb-4">
        <div class="card shadow-sm">
            <div class="card-header bg-light"><h5 class="mb-0">Data Personal</h5></div>
            <div class="card-body">
                <p><strong>Nama Lengkap:</strong><br>{{ siswa.namalengkappd }}</p>
                <p><strong>NIS:</strong><br>{{ siswa.nis|default:"-" }}</p>
                <p><strong>NISN:</strong><br>{{ siswa.nisn|default:"-" }}</p>
                <p><strong>Jenis Siswa:</strong><br>{{ siswa.jenis_siswa }}</p>
                <p><strong>Jenis Kelamin:</strong><br>{{ siswa.gender }}</p>
                <p><strong>Berkebutuhan Khusus?:</strong><br>
                    {% if siswa.is_berkebutuhan_khusus %}
                    <span class="badge bg-warning text-dark">Ya</span>
                    {% else %}
                    <span class="badge bg-secondary">Tidak</span>
                    {% endif %}
                    </p>
                <p><strong>Tanggal Lahir:</strong><br>{{ siswa.tgllahir|date:"d F Y" }}</p>
            </div>
             <div class="card-footer text-end">
                <a href="{% url 'edit_siswa' id_siswa=siswa.idpesertadidik %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'daftar_siswa' %}" class="btn btn-secondary">Kembali</a>
            </div>
        </div>
    </div>
    <div class="col-md-7 mb-4">
        <div class="card shadow-sm">
            <div class="card-header bg-light"><h5 class="mb-0">Riwayat Kelas</h5></div>
            <div class="card-body">
                {% if riwayat_kelas %}
                    <ul class="list-group">
                    {% for riwayat in riwayat_kelas %}
                        <li class="list-group-item">
                            <span class="fw-bold">{{ riwayat.kelas_idkelas.namakelas }}</span>
                            <small class="text-muted">({{ riwayat.tahunajaran_idtahunajaran }})</small>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">Siswa ini belum memiliki riwayat kelas.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}