{# kbm_app/kbm_core/templates/kbm_core/logged_out.html #}
{% extends 'kbm_core/base.html' %}
{% load static %}

{% block title %}Logged Out{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
            <h2 class="mb-4">Anda Telah Logout</h2>
            <p class="lead">Terima kasih telah menggunakan aplikasi kami.</p>
            <hr>
            <p>
                Ingin masuk lagi? <a href="{% url 'login' %}" class="btn btn-primary mt-3">Login Kembali</a>
            </p>
            <p>
                Atau kembali ke <a href="{% url 'home' %}" class="text-decoration-none">Beranda</a>
            </p>
        </div>
    </div>
{% endblock %}