{% load static %} {# ini untuk me-load css #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplikasi KBM{% endblock %}</title>
    {# Hapus style CSS inline di sini, karena kita akan menggunakan file eksternal #}
    {# <style> ... </style> #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {# TAMBAHKAN BARIS INI #}
</head>
<body>
    <header>
        <h1>Aplikasi Pengelolaan KBM</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/about/">Tentang Kami</a>
    </nav>
    <div class="container"> {# Tambahkan kelas container untuk menampung konten #}
        {% block content %}
        {# Konten spesifik halaman akan ditempatkan di sini #}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 TMK- Aplikasi KBM. All Right Reserve</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script> {# BARIS UNTUK ME-LOAD FILE JS #}
</body>
</html>